@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

iframe {
  border-width: 5px;
  border-radius: 2px;
  border-color: darkgray;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-family: 'Newsreader', serif;
}

.imglink {
  text-decoration: none;
}

.social-media {
  position: relative;
  left: -150px;
}

.different-font {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 180px;
}

.different-link {
  margin-left: 60px;
  text-decoration: none;
  width: 180px;
}

.different-link:hover {
  text-decoration: underline;
}

.fblogo {
  width: 22px;
  margin: 5px;
}

.for-grid {
  position: relative;
  left: -110px;
  top: 150px;
  width: 80vw;
  z-index: 30;
}

.bmlogo {
  width: 16px;
  margin: 5px;
}

.bmlogo:hover {
  opacity: 0.4;
}

.comlogo {
  width: 20px;
  margin: 5px;
}

.comlogo:hover {
  opacity: 0.4;
}

.article-info {
  margin-left: auto;
  margin-right: auto;
  max-width: 45%;
  font-size: 25px;
}

.img-subtext {
  display: inline;
  align-items: center;
  margin-left: 13%;
  font-size: 16px;
  color: rgb(94, 92, 92);
}

.bigpic {
  width: 75%;
  margin-left: 30vw;
  position: relative;
  left: -250px;
}

header {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  max-width: 40%;
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

.nytlogo {
  height: 35px;
}

.nytlink {
  margin-left: 250px;
  margin-right: 350px;
}

.page-menu {
  z-index: 100;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw;
  background-color: whitesmoke;
  top: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.author {
  font-size: 25px;
  align-self: baseline;
  margin-left: 20%;
  width: 60%;
}

.menulink {
  margin-left: 20px;
  margin-right: 20px;
}

.sandwich {
  height: 22px;
}

.menu-icon {
  height: 28px;
}

.grid-space {
  position: absolute;
  z-index: 40;
  left: 260px;
  top: 2100px;
  width: 80vw;
  display: grid;
  grid-template-areas:
    "title title title title"
    "one two three four"
    " five six seven eight";
  grid-gap: 20px;
}

.grid-title {
  font-size: 18px;
  color: rgb(48, 47, 47);
}

.grid-intro {
  font-size: 16px;
  color: gray;
  width: 80vw;
}

.grid-subtext {
  margin-top: 200px;
  width: 200px;
  font-size: 14px;
}

.adspace {
  position: relative;
  right: 24vw;
  width: 100vw;
  height: 40px;
  font-size: 16px;
  color: rgb(170, 169, 169);
  background-color: rgb(219, 215, 215);
}

.editors-choice {
  font-size: 18px;
  position: absolute;
  right: 150px;
  float: right;
  width: 10vw;
}

ul {
  list-style-type: none;
}

.ec-ul {
  position: relative;
  left: -80px;
}

.tn {
  width: 10vw;
}

.styled-link {
  color: black;
}

.styled-link:hover {
  color: black;
  text-decoration: underline;
}

.editors-choice-img {
  display: inline-flex;
  float: left;
}

.editors-choice-text {
  float: right;
  font-size: 16px;
  width: 10vw;
}

footer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  height: 60vh;
  left: 100px;
}

.footer-links {
  display: flex;
}

.footer-list {
  margin-right: 60px;
}

.nav-btn {
  background-color: rgb(75, 92, 185);
  color: whitesmoke;
  height: 30px;
  font-size: 11px;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(38, 38, 168);
  margin: 5px;
  transition-duration: 0.4s;
  padding: 6px 4px 6px 4px;
}

.more-social {
  display: flex;
  align-content: baseline;
}

.more-button {
  width: 300px;
  height: 35px;
  position: relative;
  left: -80px;
}

.more-media {
  position: relative;
  left: 10px;
}

.nav-btn:hover {
  background-color: rgb(38, 38, 168);
}

.newslogo {
  width: 70px;
}

.plus {
  width: 35px;
}

.sec1 {
  display: flex;
  position: relative;
  left: 100px;
}

.most-pop-link {
  height: 120px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.most-pop-link:hover {
  color: grey;
}

.newspapers {
  display: flex;
  flex-direction: column;
  position: relative;
  left: -150px;
}

.cards-container {
  display: flex;
  justify-items: stretch;
}

.news-card {
  margin: 20px;
  display: grid;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  width: 15vw;
  grid-template-areas:
    "pic pic . .plus"
    "pic pic . . ."
    "title title title . . "
    "content content content content content"
    "content content content content content"
    "content content content content content";
}

.footer-link {
  text-decoration: none;
  color: black;
  position: relative;
  left: -40px;
}

.footer-link:hover {
  text-decoration: underline;
}

.end-content {
  position: relative;
  left: 100px;
}

.footer-right {
  padding-left: 20px;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: black;
}

.sec2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: black;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 800px;
  left: -160px;
}

.thumbnail {
  width: 200px;
}

.quote {
  color: grey;
  font-size: 10px;
  position: relative;
  left: 120px;
}

.date {
  color: gray;
  font-size: 14px;
}

.more-news {
  width: 220px;
}

.more {
  display: flex;
  align-content: flex-start;
  width: 60vw;
}

.nyt-footer-img {
  position: relative;
  left: -200px;
  width: 10vw;
}

.footer-footer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: black;
  display: flex;
}

.ending-link {
  color: gray;
  font-size: 12px;
  margin: 5px;
  position: relative;
  left: -600px;
}
